<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <px-button *ngIf="!isLoading" (click)="inserir()" pxImpact pxSize="md" class="mt-4 mb-4">Novo usuário</px-button>

  <table *ngIf="!isLoading" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="senha">
      <th mat-header-cell *matHeaderCellDef> Senha </th>
      <td mat-cell *matCellDef="let element"> {{element.senha}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <px-button (click)="alterar(element)" pxImportant pxSize="md">Alterar</px-button>
          <px-button (click)="excluir(element)" pxFluid pxSize="md">Excluir</px-button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
