<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <table *ngIf="!isLoading" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="senha">
      <th mat-header-cell *matHeaderCellDef> Senha </th>
      <td mat-cell *matCellDef="let element"> {{element.senha}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="alterar(element)">Alterar</button>
          <button mat-raised-button (click)="inserir()" color="primary">Inserir</button>
          <button mat-raised-button (click)="excluir(element)" color="warn">Excluir</button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
